{% extends '_layout/base.html' %}
{% load static %}
{% load sar_base %}
{% block title %}{{ table.name }}{% endblock %}

{% block content %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <button id="show-line-button" class="btn btn-light" style="margin-bottom: 12px">隐藏趋势</button>
        <div id="content" style="width:100%;">
            <table class="sar-table table table-sm table-bordered table-hover text-center">
                <thead>
                <tr>
                    <th class="label-title" scope="col" rowspan=2>{{ table.name }}</th>
                    {% for header in headers %}
                        <th class="sar-td-1" scope="col" colspan={{ header.data | length }}>{{ header.name }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for header in headers %}
                        {% for foo in  header.data %}
                            <th scope="col" class="sar-td sar-td-{{ forloop.counter }}">{{ forloop.counter }}</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr id="result-{{ forloop.counter0 }}">
                        <td class="label-title">{{ result.label }}</td>
                        {% for header in headers %}
                            {% for foo in header.data %}
                                {% if result.computed_value|get_item:header.id == forloop.counter0 %}
                                    <td class="sar-td sar-td-{{ forloop.counter }}">
                                        <span class="point point-{{ forloop.parentloop.counter0 }}">●</span>
                                    </td>
                                {% else %}
                                    <td class="sar-td sar-td-{{ forloop.counter }}"></td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr id="result-next">
                    <td class="label-title">下一期</td>
                    {% for header in headers %}
                        {% for foo in header.data %}
                            <td class="tooltip-toggle sar-td sar-td-{{ forloop.counter }}"
                                data-toggle="tooltip" data-html="true" data-placement="bottom"
                                title="<em>下期预测：</em> <u>{{ foo }}</u>"></td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                </tbody>
            </table>
            <canvas id="my-canvas"></canvas>
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if pagination.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1"><span class="meta-nav">&laquo;</span> First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ pagination.previous_page_number }}">
                        Previous
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">Page {{ pagination.number }} of {{ pagination.paginator.num_pages }}.</span>
            </li>

            {% if pagination.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pagination.next_page_number }}">
                        Next
                    </a>
                </li>
                <li class="page-item">
                    <!-- pagination.paginator.num_pages -->
                    <a class="page-link" href="{% url 'sar:table' table.id %}">
                        Last <span class="meta-nav">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('td.tooltip-toggle').tooltip();

            $(window).resize(function () {
                drawLines({{ headers | length }}, {{ results | length }});
                resetTable();
            });

            $('#show-line-button').click(function () {
                if ($(this).text() === '隐藏趋势') {
                    $('#my-canvas').css('z-index', -1);
                    $(this).text('查看趋势');
                } else {
                    $('#my-canvas').css('z-index', 1);
                    $(this).text('隐藏趋势');
                }
            });

            drawLines({{ headers | length }}, {{ results | length }});
            resetTable();
            FixedHead();
            fixedCol();
        });
    </script>
{% endblock %}
