{% extends '_layout/base.html' %}
{% load static %}
{% block title %}{{ table.name }}{% endblock %}
{% block content %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">{{ table.name }}</h6>
        <canvas id="canvas"></canvas>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if results.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ results.previous_page_number }}">
                        <span class="meta-nav">&laquo;</span> Previous
                    </a>
                </li>
            {% endif %}

            {% if results.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ results.next_page_number }}">
                        Next <span class="meta-nav">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block scripts %}
    <script>
        var canvas = document.getElementById('canvas');
        canvas.width = 1000;
        canvas.height = 1000;

        var ctx = canvas.getContext('2d');
        // ctx.fillStyle = 'green';
        // ctx.fillRect(10, 10, 100, 100);

        // 设置线条的颜色
       ctx.strokeStyle = 'red';
       ctx.lineWidth = 5;
        // 绘制直线
       ctx.beginPath();
       // 起点
       ctx.moveTo(200, 200);
       // 终点
       ctx.lineTo(500, 200);
       ctx.closePath();
       ctx.stroke();
    </script>
{% endblock %}

