{% extends '_layout/base.html' %}
{% load static %}
{% load sar_base %}
{% block title %}{{ table.name }}{% endblock %}
{% block header_css %}
    <style>
        span.point {
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">{{ table.name }}</h6>
        <div id="content" style="width:100%;">
            <table class="table table-sm table-bordered table-striped text-center">
                <thead>
                <tr>
                    <th scope="col" rowspan=2>#</th>
                    {% for header in headers %}
                        <th scope="col" colspan={{ header.data | length }}>{{ header.name }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for header in headers %}
                        {% for foo in  header.data %}
                            <th scope="col">{{ forloop.counter }}</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr id="result-{{ forloop.counter0 }}">
                        <td>{{ result.label }}</td>
                        {% for header in headers %}
                            {% for foo in header.data %}
                                {% if result.computed_value|get_item:header.id == forloop.counter0 %}
                                    {% if forloop.parentloop.parentloop.last %}
                                        <td><span class="point tooltip-toggle" data-toggle="tooltip" data-html="true"
                                                  title="<em>下期预测：</em> <u>{{ foo }}</u>">●</span></td>
                                    {% else %}
                                        <td><span class="point">●</span></td>
                                    {% endif %}
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if results.has_previous %}
                <li class="page-item">
                    <a href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ results.previous_page_number }}">
                        <span class="meta-nav">&laquo;</span> Previous
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">Page {{ results.number }} of {{ results.paginator.num_pages }}.</span>
            </li>

            {% if results.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ results.next_page_number }}">
                        Next <span class="meta-nav">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ results.paginator.num_pages }}">
                        Last &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            function drawLines() {
                $('span.point').tooltip({
                    placement: 'bottom',
                });

                const table = document.querySelector('table');
                const tableOffset = $(table).offset();
                const pointsMap = [];
                for (let i = 0; i < {{ headers | length }}; i++) {
                    const points = [];
                    for (let j = 0; j < {{ results | length }}; j++) {
                        const pointOffset = $(`#result-${j} span.point`).offset();
                        const point = {
                            top: pointOffset.top + 12,
                            left: pointOffset.left + 5,
                        };
                        points.push(point);
                    }
                    pointsMap.push(points);
                }
                pointsMap.forEach(points => {
                    points.reduce((total, currentValue, currentIndex) => {
                        if (currentIndex > 0) {
                            // 画线
                            line(total.left, total.top, currentValue.left, currentValue.top, table);
                        }
                        return currentValue
                    })
                });
            }

            drawLines();

            $(window).resize(function () {
                $("table div.line").remove();
                drawLines();
            });
        });
    </script>
{% endblock %}
