{% load static sar_base %}<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
    <link href="{% mix 'css' 'style.min.css' %}" rel="stylesheet">
</head>

<body class="account">
{% block breadcrumbs %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>